* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(103, 142, 196);
}

h1 {
  font-family: CocoSharp Trial;
  font-size: 20.98px;
  font-weight: 400;
  line-height: 25.17px;
  color: rgba(251, 251, 253, 1);
}

.header-box {
  width: 100%;

  background: linear-gradient(180deg, #406394 0%, rgba(64, 99, 148, 0) 100%);
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  margin: 0 auto;
}
.logo {
  max-width: 74px;
  width: 100%;
}
.logo img {
  width: 74px;
  height: 74px;
}
.logo-div {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.footer-box ul {
}
.navbar ul li a {
  color: rgba(251, 251, 253, 1);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 18.15px;
}
.top-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
#name {
  width: 54px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid rgba(251, 251, 253, 1);
  background-color: rgb(103, 142, 196);
}
.sun img,
.search img {
  display: block;
  width: 30px;
  height: 30px;
}
.sun,
.search {
  display: flex;
  width: 54px;
  height: 37px;
  border-radius: 5px;
  border: 1px solid rgba(251, 251, 253, 1);
  justify-content: center;
  align-items: center;
}
.section,
.second,
.fifth,
.sixth,
.fourth,
.seventh {
  max-width: 1440px;
  width: 100%;
  margin: 40px auto;
}
.third {
  padding: 10px;
}
.fourth {
  margin-top: 30px;
}
/*--------------section started--------------*/
.first {
  background-image: url(../img/teyyare.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 653px;
}

/* image uzerine text elave olunur*/

.first-info {
  display: flex;
  flex-direction: column;
  align-self: end;
  right: 10px;
}

.first-info h1 {
  font-family: Rosarivo;
  font-size: 64px;
  font-weight: 400;
  line-height: 89.79px;
  text-align: right;
  color: rgba(52, 52, 60, 1);
}
.first-info p {
  font-family: CocoSharp Trial;
  font-size: 20.98px;
  font-weight: 400;
  line-height: 25.17px;
  color: rgba(52, 52, 60, 1);
  text-align: right;
}

.big-button {
  display: block;
  width: 265px;
  height: 72px;
  border: 3px solid rgb(231, 231, 236);
  border-radius: 10px;
  font-family: CocoSharp L Trial;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  cursor: pointer;
  align-self: end;
  margin-top: 50px;
}
.owl-dot span {
  border: 1px solid red !important;
  background-color: #fff !important;
}

.owl-dot.active span {
  background-color: red !important;
  padding: 2px;
}

.owl-dots {
  margin-top: 30px !important;
}
.slaydlar {
  width: 100%;
  cursor: pointer;
}

/*--------------section first finished--------------*/
/* buttonlar setri */
.button {
  width: 190px;
  height: 51px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}
.button img {
  width: 34px;
  height: 34px;
  margin-top: 5px;
}
.info {
  font-family: CocoSharp L Trial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
}
.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  margin: 0 auto;
}
hr {
  width: 1196px;
  margin: 0 auto;
  border: 1px solid rgba(251, 251, 253, 1);
}
.esger {
  position: relative;
}
.esger img {
  width: 438px;
  border-radius: 10px;
}
.sunbul {
  position: absolute;

  bottom: -100px;
  left: -60px;
}
.sunbul img {
  width: 213px;
  height: 320px;
  gap: 0px;
  border-radius: 10px;
  top: 80px;
}
.gold {
  position: absolute;
  align-self: flex-end;

  right: -50px;
  bottom: -42px;
}
.gold img {
  width: 236px;
  height: 236px;
  border-radius: 10px;
}
.sekil-top {
  display: flex;
  flex-direction: column;
  width: 546px;
  height: 417px;
  padding: 50px;
  position: relative;
}
.middle-div {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 40px;
}
.sekil-info {
  margin-top: 30px;
}
.sekil-info p {
  font-family: Coco Sharp;
  font-size: 20px;
  font-weight: 450;
  line-height: 35.06px;
  text-align: right;
  color: rgba(251, 251, 253, 1);
}

.second h1 {
  text-align: right;
  font-family: Coco Sharp;
  font-size: 32px;
  font-weight: 800;
  line-height: 56.1px;
  color: rgba(251, 251, 253, 1);
}
.third h1 {
  font-family: Coco Sharp;
  font-size: 32px;
  font-weight: 800;
  line-height: 56.1px;
  text-align: center;
  color: rgba(251, 251, 253, 1);
}
.nizamname-info p {
  font-family: Coco Sharp;
  font-size: 20px;
  font-weight: 450;
  line-height: 35.06px;
  text-align: left;
  color: rgba(251, 251, 253, 1);
}
.fotos-top {
  display: flex;
  flex-direction: column;
  max-width: 523px;
  width: 100%;
  position: relative;
}

.foto-div {
  display: flex;
  margin-top: 30px;

  justify-content: space-between;
  padding: 20px;
}
.nizamname1-foto,
.nizamname2-foto {
  max-width: 173px;
  width: 100%;
}

.nizamname3-foto {
  position: absolute;

  left: 140px;
}
.nizamname1-foto img,
.nizamname2-foto img {
  width: 173px;
  height: 246px;
  border: 5px solid rgba(132, 164, 209, 1);
  background-color: #fff;
}

.nizamname3-foto img {
  width: 241px;
  height: 344px;
  border: 5px solid rgba(132, 164, 209, 1);
  background-color: #fff;
}

.nizamname-top {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  padding: 40px;
}
.nizamname-info {
  padding: 10px;
}
.etrafli {
  width: 158px;
  height: 37px;
  border-radius: 83px;
  border: 1px solid rgba(251, 251, 253, 1);
  font-family: Coco Sharp;
  font-size: 20px;
  font-weight: 800;
  line-height: 35.06px;
  color: rgba(251, 251, 253, 1);
  background-color: rgb(103, 142, 196);
}
.fourth h1 {
  font-family: Coco Sharp;
  font-size: 32px;
  font-weight: 800;
  line-height: 56.1px;
  text-align: left;
  color: rgba(251, 251, 253, 1);
}

.rehberlik-div {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card-info h1 {
  font-family: Rosarivo;
  font-size: 30px;
  font-weight: 400;
  line-height: 42.09px;
  text-align: center;

  color: rgba(29, 29, 31, 1);
}
.card-info p {
  font-family: Coco Sharp;
  font-size: 18px;
  font-weight: 450;
  line-height: 31.55px;
  color: rgba(29, 29, 31, 1);
}
.card-img {
  max-width: 263px;
  width: 100%;
}
.card-img img {
  width: 262.19px;
  height: 370.15px;
}
.card-div {
  display: flex;
  flex-direction: column;
}
.card-box {
  width: 287.9px;
  height: 471.69px;
  background: rgba(251, 251, 253, 1);
  border-radius: 13px;
  padding: 12px;
}
.cards-top {
  display: flex;

  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}
.missiya-div h1,
.meqsed h1,
.vision h1 {
  font-family: Coco Sharp;
  font-size: 32px;
  font-weight: 800;
  line-height: 56.1px;
  text-align: left;
  color: rgba(29, 29, 31, 1);
}
.missiya-div p,
.meqsed p,
.vision p {
  font-family: Coco Sharp;
  font-size: 20px;
  font-weight: 450;
  line-height: 35.06px;
  text-align: left;
  color: rgba(29, 29, 31, 1);
}
.missiya-div,
.vision {
  max-width: 650px;
  width: 100%;
  height: 320px;
  border-radius: 10px 0px 0px 10px;
  background: rgba(205, 220, 243, 1);
  padding: 20px;
}
.flag img,
.domsovet img {
  border-radius: 0px 10px 10px 0px;
  width: 650px;
  height: 320px;
  align-items: center;
}
.flag {
  max-width: 650px;
  width: 100%;
}
.flag-top,
.div-meqsed,
.vision-top {
  display: flex;
  max-width: 1300px;
  height: 320px;
  width: 100%;
  margin: 0 auto;
}
.seher {
  max-width: 650px;
  width: 100%;
  height: 320px;
}
.seher img {
  width: 650px;
  height: 320px;
  border-radius: 10px 0px 0px 10px;
}
.meqsed {
  max-width: 650px;
  width: 100%;
  height: 320px;
  border-radius: 0px 10px 10px 0px;
  background: rgba(205, 220, 243, 1);
  padding: 20px;
}
footer {
  width: 100%;
  background-color: rgb(103, 142, 196);
  color: rgba(24, 20, 51, 1);
  padding: 50px 0;
}
.footer-box {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 70px;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
}

.haqqimizda,
.qanun,
.media,
.elaqe {
  width: 100%;

  height: 250px;
}

.haqqimizda ul,
.qanun ul,
.media ul,
.elaqe ul {
  list-style: none;
}
.haqqimizda ul li:nth-child(1),
.haqqimizda ul li:nth-child(1),
.qanun ul li:nth-child(1),
.media ul li:nth-child(1),
.elaqe ul li:nth-child(1) {
  color: rgba(24, 20, 51, 1);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
}
.haqqimizda a,
.qanun a,
.media a,
.elaqe a {
  text-decoration: none;
  color: rgba(24, 20, 51, 1);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
}

.logo-big {
  max-width: 163.77px;
  width: 100%;
}
.logo-big img {
  width: 163.77px;
  height: 163.76px;
}
/* MEDIA QUERIES */

@media screen and (max-width: 930px) {
  .header-box,
  .top,
  .navbar,
  .buttons,
  .middle-div,
  .nizamname-top,
  .rehberlik-div,
  .cards-top,
  .flag-top,
  .div-meqsed,
  .vision-top {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  nav ul li a {
    font-size: 15px;
    line-height: initial;
  }
  .sekil-top {
    display: flex;
    flex-direction: column;
    height: 417px;
    padding: 20px;
    position: relative;
  }
  .footer-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .first-info h1 {
    font-family: Rosarivo;
    font-size: 30px;
    font-weight: 200;
    line-height: 89.79px;
    text-align: right;
    color: rgba(52, 52, 60, 1);
  }
  .first-info p {
    font-family: CocoSharp Trial;
    font-size: 18px;
    font-weight: 200;
    line-height: 25.17px;
    color: rgba(52, 52, 60, 1);
    text-align: right;
  }
}
